html, body {
  margin: 0;
  padding: 0;
    width: 100%;
    height: 100% !important;
}

body {
  /*font-family: 'Raleway', sans-serif;*/
  font-family: 'Open Sans', sans-serif;
}

.menu-height {
  height: 70px;
}

.menu {
  width: 100%;
  text-align: center;
  line-height: 70px;
/*  background-color: #1E90FF;*/
  background-color: transparent;
  position: absolute;
  top: 0;
  z-index: 100;
}

.menu.fix-menu {
  position: fixed;
  background-color: #1E90FF;
  box-shadow: 0px 3px 10px 0px rgba(2,2,2,0.4);
}

.menu-logo {
  width: 210px;
  margin-left: 20px;
  display: inline-block;
  float: left;
  /*background-color: rgba(40,82,122, 0.5);*/
}

.logo {
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
  color: #FFF;
/*  padding: 19px 20px 20px;*/
}

.logo:hover {
  text-decoration: none;
  cursor: pointer;
  color: #EEE;
}

.menu-nav {
/*  width: 80%;*/
  float: ;
}

.menu-nav ul li {
  display: inline-block;
  padding: 0 15px;
}

.menu-nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  padding: 10px 0;
  border-bottom: 1px solid transparent;
  transition: border-bottom .15s linear 0s;
}

#body {
  /*margin-top: 70px;*/
}

.animate {
  opacity: 0;
  transition: 1.5s;
}

#wrapper-cont-form.animate {
  transform: translate3d(0, -50px, 0);
}

.anime-start {
  opacity: 1;
}

#wrapper-cont-form.anime-start {
  transform: translate3d(0, 0, 0);
}

.widget {
  width: 100%;
  padding: 60px 0;
}

#header {
  width: 100%;
  position: relative;
  text-align: center;
}

.slide {
  position: relative;
  overflow: hidden;
}

/*The '*' selects any child type, wether it is a div, li or any other*/
.slide > * {
  width: 100%;
  height: 100vh;
  position: absolute;
  opacity: 0;
  transition: opacity 1.5s;
}

/*styles the slide with the class 'active' that is a direct child of '.slide'*/
.slide > .header-img.active {
  position: relative;
  opacity: 1;
}

#img-1 {
  background-image: url("../img/img-1.jpg");
  background-size: cover;
  background-position: center;
}


#img-1:after {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  content: ' ';
  background-color: rgba(10,40,80,.5);
}

#img-2 {
  background-image: url("../img/img-2.jpg");
  background-size: cover;
  background-position: center;
}

#img-2:after {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  content: ' ';
  background-color: rgba(80,70,60,.5);
}

#img-3 {
  background-image: url("../img/img-3.jpg");
  background-size: cover;
  background-position: center;
}

#img-3:after {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  content: ' ';
  background-color: rgba(40,80,40,.4);
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px 30px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  box-sizing: border-box;
  z-index: 1;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 0;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  text-decoration: none;
}

#header-title-wrapper {
  color: #DDD;
  position: absolute;
  left: 0;
  right: 0;
  top: 365px;
  z-index: 1;
}

#header-title {
  font-size: 36px;
  font-weight: 700;
}

#header-subtitle {
  font-size: 20px;
  font-weight: 300;
}



.prod-img img {
  display: block;
  margin: auto;
  border: 1px solid #AAA;
  height: 250px;
  width: 455px;
  background-color: rgba(150, 150, 150, .2);
}

.prod-desc {
  width: 455px;
}

.widget-desc {
  margin: 20px auto 0 auto;
/*  width: 455px;*/
  text-align: center;
  font-size: 14px;
  font-weight: 400;
}

#prod-menu {
  height: 50px;
  margin: 40px auto 20px auto;
  text-align: center;
  line-height: 50px;
}

#prod-menu > div {
  display: inline-block;
}

#prod-menu div div.active {
  background-color: #1E90FF;
  color: #FFF;
}

.prod-menu-item {
  display: inline;
  padding: 15px 25px;
  border: 1px solid #1E90FF;
  transition: .2s ease;
}

.prod-menu-item:nth-child(2) {
  margin: 0 10px;
}

.prod-menu-item:hover {
  cursor: pointer;
  background-color: #84C2FF;
  color: #FFF;
}

.prod-item {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

.prod-item.active {
  opacity: 1;
  visibility: visible;
  transition: 1.5s;
  position: relative;
}

#projects {
    min-height: 100vh;
  color: #FFF;
  border-top: 1px solid #111;
  border-bottom: 1px solid #111;
  background-image: url("../img/img-4.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

#projects::before {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  content: ' ';
  background-color: rgba(80,70,60,.5);
}

#projects-inner {
  max-width: 1350px;
  margin: 60px auto;
  display: block;
  position: relative;
}

.proj-row {
  max-width: 90%;
  margin: 40px auto 0 auto;
}

.proj-elem {
  margin-top: 20px;
  margin-bottom: 20px;
}

.proj-img {
    margin-top: 20px;
}

.proj-img img {
  display: block;
  margin: auto;
  border: 1px solid #AAA;
  height: 250px;
  width: 333px;
  background-color: rgba(150, 150, 150, .2);
}

#proj-desc {
  width: 333px;
}

#contact {
  background-color: #E9E9E9;
}

#wrapper-cont-form {
  max-width: 450px;
  border: 1px solid #1E90FF;
  margin: 20px auto 0 auto;
  padding: 50px 0;
  background-color: #FFF;
  -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.4);
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.4);
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.6);
}

#cont-form {
  width: 350px;
  margin: 0 auto;
  display: block;
}

.form-elem {
  padding: 0 0 20px 0;
}

.form-elem > label {
  display: block;
}

.form-field {
  padding-left: 5px;
  width: 350px;
  font-size: 16px;
  border-radius: 0;
}

.form-field, #send-btn {
  border: 1px solid #1E90FF;
}

.form-field:hover {
  border: 2px solid #1E90FF;
}

#name, #email {
  padding: 5px 0 5px 5px;
  height: 35px;
}

#message {
  max-width: 350px;
  height: 200px;
  max-height: 200px;
}

#send-btn {
  width: 80px;
  height: 30px;
  font-weight: bold;
  background-color: #D6EBFF;
  transition: .2s ease;
}

#send-btn:hover {
  background-color: #1E90FF;
  color: #FFF;
}


#about {

}

.about-desc {
  max-width: 495px;
  padding: 0 20px;
}

.social-links {
  width: 100%;
  margin: 30px auto 0 auto;
  text-align: center;
}

.social-links ul {
  height: 50px;
  line-height: 50px;
  margin: auto;
  list-style: none;
  padding: 0;
  overflow: hidden;
}

.social-links li {
  display: inline-block;
  text-align: center;
  padding: 0 5px;
}

.social-links ul:hover > li {
  cursor: pointer;
}

.social-links li a {
  display: inline-block;
  text-decoration: none;
  font-size: 20px;
  color: #FFF;
  transition: .2s;

}

.circle-icon {
  border: 1px solid #FFF;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 34px;
  vertical-align: middle;
  padding: 0 5px;
  border-radius: 50%;
}


/*#links-1 li::after {
  content: '';
  height: 20px;
  width: 20px;
  margin-top: 0px;
  display: block;
  position: relative;
  transition: transform .2s ease;
  visibility: hidden;
}*/

.fa-facebook::after {
  content: "\f09a";
  display: block;
  position: absolute;
  margin-top: 10px;
  margin-left: -10px;
  visibility: hidden;
  color: inherit;
  background: #3b5998;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  padding-top: 8px;
}

.fa-instagram::after {
  content: "\f16d";
  display: block;
  position: absolute;
  margin-top: 10px;
  margin-left: -10px;
  visibility: hidden;
  color: #FFF;
  background: #cd486b;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  padding-top: 8px;
}

.fa-linkedin::after {
  content: "\f0e1";
  display: block;
  position: absolute;
  margin-top: 10px;
  margin-left: -10px;
  visibility: hidden;
  color: #FFF;
  background: #0077B5;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  padding-top: 8px;
}

.fa-pinterest-p::after {
  content: "\f231";
  display: block;
  position: absolute;
  margin-top: 10px;
  margin-left: -10px;
  visibility: hidden;
  color: #FFF;
  background: #BD081C;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  padding-top: 8px;
}

/*.facebook::after {
  background-image: url(../img/icons/005-facebook.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #FFF;
  background-size: cover;
}*/

#links-1 li:hover a {
  transform: translate3d(0px, -40px, 0px);
  visibility: hidden;
}

/*#links-1 li:hover::after {
  transform: translate3d(0px, -25px, 0px);
  visibility: visible;
}*/

.facebook:hover .fa-facebook::after {
  visibility: visible;
}

.instagram:hover .fa-instagram::after {
  visibility: visible;
}

.linkedin:hover .fa-linkedin::after {
  visibility: visible;
}

.pinterest:hover .fa-pinterest-p::after {
  visibility: visible;
}

@media only screen and (min-width: 769px) {

.menu-nav ul li:hover a {
  border-bottom: 1px solid #FFF;
}

}


@media only screen and (max-width: 768px) {

  html.active, body.active {
    overflow-y: hidden;
  }
  
.mobile-btn {
  width: 36px;
  height: 36px;
  color: #FFF;
  display: block;
  border-top: 4px solid;
  margin: 20px 20px 0 0;
  position:;
  float: right;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
}

.mobile-btn:after, .mobile-btn:before {
  content: '';
  height: 4px;
  margin-top: 6px;
  display: block;
  background: currentColor;
  position: relative;
  transition: transform .2s ease;
}

.mobile-btn.active {
  border-top-color: transparent;
}

.mobile-btn.active:after {
  margin-top: 0px;
  top: 2px;
  transform: rotate(45deg);
}

.mobile-btn.active:before {
  margin-top: 0px;
  top: 6px;
  transform: rotate(135deg);
}

.menu-nav.mobile-menu {
  height: 100%;
  width: 250px;
  position: fixed;
  background: #1E90FF;
  padding: 0px 0 0 0;
  right: 0px;
  top: 65px;
  opacity: 0;
  visibility: hidden;
  transform: translate3d(70px, 0px, 0px);
  transition: all .2s ease-in-out;
}

.menu-nav.mobile-menu.active {
  opacity: 1;
  visibility: visible;
  transform: translate3d(0px, 0px, 0px);
}

.menu-nav.mobile-menu ul {
  padding: 0 0px;
}

.menu-nav.mobile-menu li {
  height: 50px;
  line-height: 50px;
  display: block;
  padding: 0;
  border-bottom: 1px solid #70C0F4;
/*  border-top: 1px solid; */
}
 
.menu-nav.mobile-menu li:hover{
  cursor: pointer;
  background-color: #A4D2FE;
}
  
.menu-nav.mobile-menu li:hover a {
  color: #555;
}

.menu-nav.mobile-menu li a {
  padding: 0;
  font-weight: normal;
  font-size: 12px;
}

#header {
  height: 400px;
}

#header-title-wrapper {
  top: 165px;
  padding: 0 45px;
}

#header-title {
  font-size: 30px;
}

#header-subtitle {
  font-size: 16px;
}

.slide > * {
  height: 400px;
}

.prev, .next {
  padding: 16px;
}
.widget-header {
  font-size: 22px;
}

.prod-img img {
  width: 400px;
  height: 220px;
}

.prod-desc {
  width: 400px;
}

#wrapper-cont-form {
  width: 400px;
}

}

@media only screen and (max-width: 480px) {

  .prod-menu-item {
    padding: 10px 20px;
  }

  .prod-img img {
    height: 192px;
    width: 350px;
  }

  .prod-desc {
    width: 350px;
  }

  .proj-img img {
    height: 225px;
    width: 300px;
  }

  #wrapper-cont-form {
    width: 360px;
  }

  #cont-form {
    width: 320px;
  }

  .form-field {
    width: 320px;
    font-size: 14px;
  }

  #message {
  max-width: 320px;
  height: 180px;
  max-height: 180px;
  }

}

#footer {
  background-color: #1E90FF;
}

.round-image {
  width: 200px;
  height: auto;
  border-radius: 50%;
  display: block;
}
