html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100% !important;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.menu-height {
  height: 70px;
}

.menu {
  width: 100%;
  text-align: center;
  line-height: 70px;
  background-color: transparent;
  position: absolute;
  top: 0;
  z-index: 100;
}

.menu.fix-menu {
  position: fixed;
  background-color: #FFF;
  color: #222;
  box-shadow: 0px 3px 10px 0px rgba(20,20,20,0.4);
}

.menu-logo {
  width: 210px;
  margin-left: 20px;
  display: none;
  float: left;
}

.menu-logo.fix-menu {
  display: inline-block;
}

.logo {
  font-size: 25px;
  font-weight: bold;
  color: #42dca3;
}

.logo:hover {
  cursor: default;
}

.menu-nav ul li {
  display: inline-block;
  padding: 0 15px;
}

.menu-nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #FFF;
  font-weight: bold;
  padding: 10px 0;
  border-bottom: 1px solid transparent;
  transition: border-bottom .15s linear 0s;
}

.menu-nav ul li a.fix-menu {
  color: #222;
}

.animate {
  opacity: 0;
  transition: 1.5s;
}

.widget {
  width: 100%;
  padding: 100px 0;
}

#header {
  width: 100%;
  position: relative;
  text-align: center;
}

.header-background {
  position: relative;
  overflow: hidden;
}

.header-background > * {
  width: 100%;
  height: 100vh;
  position: relative;
  opacity: 1;
  transition: opacity 1.5s;
}

#img-3 {
  background-image: url("../img/img-3.jpg");
  background-size: cover;
  background-position: center;
}

#img-3:after {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  content: ' ';
  background-color: rgba(40,80,40,.4);
}

.header-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#header-title-wrapper {
  color: #DDD;
  z-index: 1;
}

#header-title {
  font-size: 36px;
  font-weight: 700;
}

#header-subtitle {
  font-size: 20px;
  font-weight: 300;
}

.header-scroll-trigger {
  width: inherit;
  position: absolute;
  bottom: 0;
  left: 0;
}

.scroll-trigger {
  width: 3rem;
  height: 3rem;
  z-index: 1;
  border: 2px solid #EEE !important;
  border-radius: 50% !important;
  text-align: center;
  background-color: rgba(150, 150, 150, .1);
  transition: .3s;
}

.scroll-trigger:hover {
  background-color: rgba(150, 150, 150, .5);
}

.scroll-trigger:hover a {
  color: #EEE;
}

.scroll-trigger a {
  color: #EEE;
}

.scroll-trigger .fa-angle-double-down {
  font-size: 2rem;
}

.widget-desc {
  margin: 20px auto 0 auto;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
}

#projects {
    min-height: 100vh;
  color: #FFF;
  border-top: 1px solid #111;
  border-bottom: 1px solid #111;
  background-image: url("../img/img-4.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

#projects::before {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  content: ' ';
  background-color: rgba(80,70,60,.5);
}

#projects-inner {
  max-width: 1350px;
  margin: 60px auto;
  display: block;
  position: relative;
}

.proj-row {
  max-width: 90%;
  margin: 40px auto 0 auto;
}

.proj-img {
  margin-top: 20px;
  cursor: pointer;
}

.proj-img img {
  display: block;
  margin: auto;
  border: 1px solid #AAA;
  height: 220px;
  background-color: rgba(150, 150, 150, .2);
}

#proj-desc {
  width: 333px;
}

.skills-subheader {
  font-size: 1.25rem;
}

.list-icons {
  font-size: 4.5rem;
  color: #222;
}

.list-inline-item:hover {
  color: #42dca3;
}

.padding-y {
  padding-top: 150px;
  padding-bottom: 150px;
}

#contact {
  background-color: #E9E9E9;
}

#wrapper-cont-form {
  max-width: 450px;
  padding: 50px 0;
  background-color: #FFF;
  -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.4);
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.4);
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.6);
}

#wrapper-cont-form.animate {
  transform: translate3d(0, -50px, 0);
}

.anime-start {
  opacity: 1;
}

#wrapper-cont-form.anime-start {
  transform: translate3d(0, 0, 0);
}

#cont-form {
  width: 350px;
  margin: 0 auto;
  display: block;
}

.form-elem {
  padding: 0 0 20px 0;
}

.form-elem > label {
  display: block;
}

.form-field {
  padding-left: 5px;
  width: 350px;
  font-size: 16px;
  border-radius: 0;
}

.form-field:hover {
  border: 2px solid #42dca3;
}

#name, #email {
  padding: 5px 0 5px 5px;
  height: 35px;
}

#message {
  max-width: 350px;
  height: 200px;
  max-height: 200px;
}

#send-btn {
  background-color: inherit;
  transition: .2s ease;
  border-radius: 0;
  cursor: pointer;
}

#send-btn:hover {
  background-color: #42dca3;
  color: #FFF;
}

#footer {
  background-color: #222;
}

.round-image {
  width: 200px;
  height: auto;
  border-radius: 50%;
  display: block;
}

.about-desc {
  max-width: 495px;
  padding: 0 20px;
}

.social-links {
  width: 100%;
  margin: 30px auto 0 auto;
  text-align: center;
}

.social-links ul {
  height: 50px;
  line-height: 50px;
  margin: auto;
  list-style: none;
  padding: 0;
  overflow: hidden;
}

.social-links li {
  display: inline-block;
  text-align: center;
  padding: 0 5px;
  cursor: pointer;
}

.social-links li a {
  display: inline-block;
  text-decoration: none;
  font-size: 20px;
  color: #FFF;
  transition: .2s;

}

.circle-icon {
  border: 1px solid #FFF;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 34px;
  vertical-align: middle;
  padding: 0 5px;
  border-radius: 50%;
}

.fa-facebook::after {
  content: "\f09a";
  display: block;
  position: absolute;
  margin-top: 10px;
  margin-left: -10px;
  z-index: -1;
  color: inherit;
  background: #3b5998;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  padding-top: 8px;
}

.fa-linkedin::after {
  content: "\f0e1";
  display: block;
  position: absolute;
  margin-top: 10px;
  margin-left: -10px;
  z-index: -1;
  color: #FFF;
  background: #0077B5;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  padding-top: 8px;
}

.devicons-github::after {
  content: "\e60a";
  display: block;
  position: absolute;
  margin-top: 10px;
  margin-left: -10px;
  z-index: -1;
  color: #FFF;
  background: #BD081C;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  padding-top: 8px;
}

#links-1 li:hover a {
  transform: translate3d(0px, -45px, 0px);
}

.facebook:hover .fa-facebook::after {
  z-index: 1;
}

.linkedin:hover .fa-linkedin::after {
  z-index: 1;
}

.devicons-github:hover .devicons-github::after {
  z-index: 1;
}

@media only screen and (min-width: 769px) {

.menu-nav ul li:hover a {
  border-bottom: 1px solid #FFF;
}

  .menu.fix-menu .menu-nav ul li:hover a {
  border-bottom: 1px solid #222;
}

}

@media only screen and (max-width: 768px) {

  html.active, body.active {
/*    overflow-y: hidden;*/
  }

.mobile-btn {
  width: 36px;
  height: 36px;
  color: #222;
  display: block;
  border-top: 4px solid;
  margin: 20px 20px 0 0;
  position:;
  float: right;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
}

.mobile-btn:after, .mobile-btn:before {
  content: '';
  height: 4px;
  margin-top: 6px;
  display: block;
  background: currentColor;
  position: relative;
  transition: transform .2s ease;
}

.mobile-btn.active {
  border-top-color: transparent;
}

.mobile-btn.active:after {
  margin-top: 0px;
  top: 2px;
  transform: rotate(45deg);
}

.mobile-btn.active:before {
  margin-top: 0px;
  top: 6px;
  transform: rotate(135deg);
}

.menu-nav.mobile-menu {
  height: 100%;
  width: 250px;
  position: fixed;
  background: #FFF;
  padding: 0px 0 0 0;
  right: 0px;
  top: 65px;
  opacity: 0;
  visibility: hidden;
  transform: translate3d(70px, 0px, 0px);
  transition: all .2s ease-in-out;
  box-shadow: -2px 0 5px 0 rgba(20,20,20,0.4);
}

.menu-nav.mobile-menu.active {
  opacity: 1;
  visibility: visible;
  transform: translate3d(0px, 0px, 0px);
}

.menu-nav.mobile-menu ul {
  padding: 0 0px;
}

.menu-nav.mobile-menu li {
  display: block;
  padding: 0;
  border-bottom: 1px solid #42dca3;
}

.menu-nav.mobile-menu li a{
  height: 50px;
  width: 100%;
  line-height: 50px;
  display: block;
  font-weight: normal;
  font-size: 12px;
  color: #222;
}

.menu-nav.mobile-menu li a:hover{
  background-color: rgba(66, 220, 163, .3);
}

.menu-nav.mobile-menu li:hover a {
  color: #555;
}

.menu-nav.mobile-menu li a {
  padding: 0;
  font-weight: normal;
  font-size: 12px;
}

#header {
  height: 400px;
}

#header-title-wrapper {
  top: 100px;
  padding: 0 45px;
}

#header-title {
  font-size: 30px;
}

#header-subtitle {
  font-size: 16px;
}

.round-image {
  width: 150px;
}

.header-background > * {
  height: 400px;
}

.prev, .next {
  padding: 16px;
}

.padding-y {
  padding-top: 90px;
  padding-bottom: 90px;
}

.widget-header {
  font-size: 22px;
}

#wrapper-cont-form {
  width: 400px;
}

}

@media only screen and (max-width: 480px) {
  .proj-img img {
    height: 225px;
  }

  #wrapper-cont-form {
    width: 360px;
  }

  #cont-form {
    width: 320px;
  }

  .form-field {
    width: 320px;
    font-size: 14px;
  }

  #message {
  max-width: 320px;
  height: 180px;
  max-height: 180px;
  }

}
