html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.menu-height {
  height: 70px;
}

.menu {
  width: 100%;
  text-align: center;
  line-height: 70px;
  background-color: #1E90FF;
  position: fixed;
  top: 0;
  z-index: 100;
}

.menu.add-shadow {
  box-shadow: 0px 3px 10px 0px rgba(2,2,2,0.4);
}

.menu-logo {
  width: 20%;
  display: inline-block;
  float: left;
  background-color: rgb(40,82,122);
}

.menu-logo:hover {
  background-color: rgba(40,82,122, .7);
}

.logo {
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
  color: #FFF;
/*  padding: 19px 20px 20px;*/
}

.logo:hover {
  text-decoration: none;
  cursor: pointer;
  color: #EEE;
}

.menu-nav {
  width: 80%;
  float: right;
}

.menu-nav ul li {
  display: inline-block;
  padding: 0 15px;
}

.menu-nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  padding: 10px 0;
  border-bottom: 1px solid transparent;
  transition: border-bottom .15s linear 0s;
}

.menu-nav ul li:hover a {
  border-bottom: 1px solid #FFF;
}

#body {
  margin-top: 70px;
}

.wrapper {
  opacity: 0;
  transition: 1.5s;
}

.anime-start {
  opacity: 1;
}


.widget {
  width: 100%;
  padding: 60px 0;
}

#header {
  width: 100%;
  height: 400px;
  text-align: center;
  background-color: #E8E8E8;
}

#header-title {
  font-size: 36px;
}

#header-subtitle {
  font-size: 20px;
}

.widget-header h3{
  margin: 0;
  text-align: center;
  font-size: 31px;
}

.prod-img img {
  display: block;
  margin: auto;
  border: 1px solid #AAA;
  height: 250px;
  width: 455px;
}

.widget-desc {
  margin: 20px auto 0 auto;
  width: 455px;
  text-align: center;
}

#prod-menu {
  height: 50px;
  margin: 20px auto;
  text-align: center;
  line-height: 50px;
}

#prod-menu > div {
  display: inline-block;
}

#prod-menu div div.active {
  background-color: #1E90FF;
  color: #FFF;
}

.prod-menu-item {
  display: inline;
  padding: 15px 25px;
  border: 2px solid #1E90FF;
  transition: .2s ease;
}

.prod-menu-item:nth-child(2) {
  margin: 0 10px;
}

.prod-menu-item:hover {
  cursor: pointer;
  background-color: #84C2FF;
  color: #FFF;
}

.prod-item {
  opacity: 0;
  visibility: hidden;
  position: absolute;
/*  height: 0;*/
/*  transform: translate3d(-50px, 0, 0);*/
}

.prod-item.active {
  opacity: 1;
  visibility: visible;
  transition: 1s;
  position: relative;
/*  height: auto;*/
/*  transform: translate3d(0, 0, 0);*/
}

#services {
  background-color: #0053D1;
  color: #FFF;
  border-top: 1px solid #111;
  border-bottom: 1px solid #111;
}

.serv-elem {
  margin-top: 20px;
  margin-bottom: 20px;
}

.serv-img {
    margin-top: 20px;
}

.serv-img img {
  display: block;
  margin: auto;
  border: 1px solid #AAA;
  height: 250px;
  width: 333px;
}

#serv-desc {
  width: 333px;
}

#contact {
  background-color: #F9F9F9;
}

#wrapper-cont-form {
  width: 500px;
  border: 2px solid #1E90FF;
  margin: 20px auto 0 auto;
  padding: 0 20px;
  background-color: #FFF;
}

#cont-form {
  margin-top: 20px;
}

.form-elem {
  padding: 0 0 20px 0;
}

.form-elem > label {
  display: block;
}

.form-field {
  padding-left: 5px;
}

.form-field, #send-btn {
  border: 1px solid #1E90FF;
}

.form-field:hover {
  border: 2px solid #1E90FF;
}

#name {
  height: 27px;
  width: 330px;
}

#email {
  height: 27px;
  width: 330px;
}

#message {
  width: 330px;
  max-width: 330px;
  height: 200px;
  max-height: 200px;
}

#send-btn {
  width: 80px;
  height: 30px;
  font-weight: bold;
  background-color: #D6EBFF;
  transition: .2s ease;
}

#send-btn:hover {
  background-color: #1E90FF;
  color: #FFF;
}


#about {
  background-color: #1E90FF;
  color: #FFF;
}

.mobile-btn {
  width: 36px;
  height: 36px;
  color: #FFF;
  display: block;
  border-top: 4px solid;
  margin: 20px 20px 0 0;
  position:;
  float: left;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
}

.mobile-btn:after, .mobile-btn:before {
  content: '';
  height: 4px;
  margin-top: 6px;
  display: block;
  background: currentColor;
  position: relative;
  transition: transform .2s ease;
}

.mobile-btn.active {
  border-top-color: transparent;
}

.mobile-btn.active:after {
  margin-top: 0px;
  top: 2px;
  transform: rotate(45deg);
}

.mobile-btn.active:before {
  margin-top: 0px;
  top: 6px;
  transform: rotate(135deg);
}
