html,
body {
  width: 100%;
  height: 100% !important;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  overflow-x: hidden;
}

.padding-y {
  padding-top: 120px;
  padding-bottom: 120px;
}

.animate {
  opacity: 0;
  transition: 1.5s;
}

.widget {
  width: 100%;
  padding: 100px 0;
}

.round-image {
  width: 200px;
  height: auto;
  border-radius: 50%;
  display: block;
}

.font-weight-300 {
  font-weight: 300;
}

.menu-height {
  height: 70px;
  line-height: 70px;
}

.menu {
  width: 100%;
  text-align: center;
  background-color: transparent;
  position: fixed;
  z-index: 100;
}

.menu.fix-menu {
  background-color: #FFF;
  color: #222;
  box-shadow: 0px 3px 10px 0px rgba(20, 20, 20, 0.4);
}

.menu-logo {
  width: 210px;
  margin-left: 10px;
  display: none;
  float: left;
}

.menu-logo.fix-menu {
  display: inline-block;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #42dca3;
}

.logo:hover {
  cursor: default;
}

.menu-nav ul li {
  display: inline-block;
  padding: 0 15px;
}

.menu-nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #FFF;
  font-weight: bold;
  padding: 10px 0;
}

.menu-nav ul li a.fix-menu {
  color: #222;
}

.home-link {
  display: none;
}

.home-link.fix-menu {
  display: inline;
}

#header {
  width: 100%;
  position: relative;
}

.header {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-background {
  position: relative;
  overflow: hidden;
}

.header-img {
  width: 100%;
  height: 100vh;
  position: relative;
  opacity: 1;
  transition: opacity 1.5s;
  background-image: url("../img/img-3.jpg");
  background-size: cover;
  background-position: center;
}

.header-img:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: ' ';
  background-color: rgba(40, 80, 40, .4);
}

.header-title-wrapper {
  color: #DDD;
  z-index: 1;
}

.header-title {
  font-size: 2rem;
  font-weight: 700;
}

.header-subtitle {
  font-size: 1.2rem;
}

.header-scroll-trigger {
  width: inherit;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
}

.scroll-trigger {
  width: 3rem;
  height: 3rem;
  display: inline-block;
  color: #FFF;
  padding-top: 5px;
  border: 2px solid #EEE !important;
  border-radius: 50% !important;
  background-color: rgba(150, 150, 150, .1);
  transition: .3s;
  z-index: 1;
}

.scroll-trigger:hover {
  background-color: rgba(150, 150, 150, .5);
}

.scroll-trigger:hover {
  color: #EEE;
}

.scroll-trigger .fa-angle-double-down {
  font-size: 2rem;
  transition: transform 0.2s;
}

.scroll-trigger:hover .fa-angle-double-down {
  transform: translateY(3px);
}

.about-image-container {
  position: relative;
  width: 200px;
  height: auto;
  border-radius: 50%;
}

.about-image-effect {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
}

.about-text {
  width: 800px;
  font-size: 1.1rem;
  margin: .5rem auto 0 auto;
}

#projects {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  color: #FFF;
  border-top: 1px solid #111;
  border-bottom: 1px solid #111;
  background-image: linear-gradient(rgba(10, 10, 10, 0.7), rgba(20, 20, 20, .7)), url("../img/codes.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.projects-container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.proj-img-wrap {
  position: relative;
}

.proj-img-wrap::before {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  content: '';
  background: rgba(30, 30, 30, .3);
}

.proj-img-wrap:hover::before {
  background: rgba(20, 20, 20, .7);
}

.proj-name {
  cursor: pointer;
  position: absolute;
  font-size: 1.5rem;
  text-shadow: 2px 2px 3px #151515;
  padding: 8px 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

.proj-name,
.proj-img-wrap::before {
  transition: background 0.2s;
}

.proj-img-wrap:hover .proj-name {
  background: #42dca3;
  text-shadow: 0px 0px 0px #151515;
  font-weight: 600;
}

.proj-img-wrap img {
  display: inline-block;
  width: 300px;
  height: 225px;
}

.proj-modal-img {
  height: 350px;
  background-image: url("../img/proj-01.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  filter: contrast(110%);
  border: 2px solid #DCDCDC;
}

.proj-desc {
  margin: 30px 0;
  position: relative;
}

.proj-desc > * {
  width: 49%;
}

.proj-desc-text {
  text-align: left;
  font-size: 1rem;
  padding-left: 1rem;
}

.proj-skills {
  position: absolute;
  top: 50%;
  padding: 0 10px;
  transform: translateY(-50%);
}

.modal-title {
  font-size: 2rem;
}

.proj-skills-item {
  padding: 10px 15px;
  margin: 3px;
  border: 2px solid #42dca3;
  color: #222;
  cursor: default;
  list-style-type: none;
}

.proj-modal-view-demo {
  display: inline-block;
  padding: 10px 15px;
  background: #222;
  color: #FFF;
  transition: opacity 0.3s;
}

.proj-modal-view-demo:hover {
  text-decoration: none;
  color: #FFF;
  opacity: 0.8;
}

.skills-item {
  margin-right: 1rem;
}

.skills-item-icon {
  font-size: 4.5rem;
  color: #222;
  transition: color .2s;
}

.skills-item-icon:hover {
  color: #42dca3;
}

#contact {
  background-color: #E9E9E9;
}

#wrapper-cont-form {
  max-width: 450px;
  padding: 50px 0;
  background-color: #FFF;
  -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.6);
}

#wrapper-cont-form.animate {
  transform: translate3d(0, -50px, 0);
}

.anime-start {
  opacity: 1;
}

#wrapper-cont-form.anime-start {
  transform: translate3d(0, 0, 0);
}

#cont-form {
  width: 350px;
  margin: 0 auto;
}

.form-elem {
  padding: 0 0 20px 0;
}

.form-elem > label {
  display: block;
}

.form-field {
  padding-left: 5px;
  width: 350px;
  font-size: 1rem;
  border-radius: 0;
}

.form-field:hover {
  border: 2px solid #42dca3;
}

#name,
#email {
  padding: 5px 0 5px 5px;
  height: 35px;
}

#message {
  max-width: 350px;
  height: 200px;
  max-height: 200px;
}

#send-btn {
  background-color: inherit;
  transition: .1s ease;
  border-radius: 0;
  cursor: pointer;
}

#send-btn:hover {
  background-color: #42dca3;
  color: #FFF;
}

.hide {
  display: none;
}

#footer {
  background-color: #222;
}

.social-links {
  width: 100%;
  margin: 30px auto 0 auto;
  text-align: center;
}

.social-links ul {
  height: 50px;
  line-height: 50px;
  margin: auto;
  list-style: none;
  padding: 0;
  overflow: hidden;
}

.social-links li {
  display: inline-block;
  text-align: center;
  padding: 0 5px;
  cursor: pointer;
}

.social-links li a {
  display: inline-block;
  text-decoration: none;
  font-size: 20px;
  color: #FFF;
  transition: .2s;

}

.circle-icon {
  border: 1px solid #FFF;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 34px;
  vertical-align: middle;
  padding: 0 5px;
  border-radius: 50%;
}

.fa-facebook-f::after {
  content: "\f39e";
  display: block;
  position: absolute;
  margin-top: 10px;
  margin-left: -10px;
  z-index: -1;
  color: inherit;
  background: #3b5998;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  padding-top: 8px;
}

.fa-linkedin-in::after {
  content: "\f0e1";
  display: block;
  position: absolute;
  margin-top: 10px;
  margin-left: -10px;
  z-index: -1;
  color: #FFF;
  background: #0077B5;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  padding-top: 8px;
}

.fa-github::after {
  content: "\f09b";
  display: block;
  position: absolute;
  margin-top: 10px;
  margin-left: -10px;
  z-index: -1;
  color: #FFF;
  background: #3BAF4E;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  padding-top: 8px;
}

#links-1 li:hover a {
  transform: translate3d(0px, -45px, 0px);
}

.facebook:hover .fa-facebook::after {
  z-index: 1;
}

.linkedin:hover .fa-linkedin::after {
  z-index: 1;
}

.devicons-github:hover .devicons-github::after {
  z-index: 1;
}

@media only screen and (min-width: 769px) {

  .menu-nav ul li a {
    position: relative;
  }

  .menu-nav ul li a:before {
    content: '';
    height: 1px;
    width: 0;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #FFF;
    transition: width 0.2s;
  }

  .menu-nav ul li a:hover:before {
    width: 100%;
  }

  .menu.fix-menu .menu-nav ul li a:before {
    background-color: #222;
  }

}

@media only screen and (max-width: 768px) {

  .mobile-btn {
    width: 32px;
    height: 32px;
    color: #222;
    display: block;
    position: relative;
    border-top: 3px solid;
    margin: 20px 20px 0 0;
    float: right;
    cursor: pointer;
    z-index: 2;
    -webkit-backface-visibility: hidden;
  }

  .mobile-btn:after,
  .mobile-btn:before {
    content: '';
    height: 3px;
    margin-top: 6px;
    display: block;
    background: currentColor;
    position: relative;
    transition: transform .2s ease;
  }

  .mobile-btn.active {
    border-top-color: transparent;
  }

  .mobile-btn.active:after {
    margin-top: 0px;
    top: 3px;
    transform: rotate(45deg);
  }

  .mobile-btn.active:before {
    margin-top: 0px;
    top: 6px;
    transform: rotate(-45deg);
  }

  .menu-nav.mobile-menu {
    height: 100%;
    width: 250px;
    position: fixed;
    background: #FFF;
    right: -250px;
    box-shadow: -2px 0 5px 0 rgba(20, 20, 20, 0.4);
    z-index: 1;
    transition: transform .2s ease-in-out;
  }

  .menu-nav.mobile-menu.active {
    transform: translate3d(-250px, 0px, 0px);
  }

  .menu-nav.mobile-menu ul,
  .menu-nav.mobile-menu li {
    padding: 0;
  }

  .menu-nav.mobile-menu ul {
    margin-top: 65px;
  }

  .menu-nav.mobile-menu li {
    display: block;
  }

  .menu-nav.mobile-menu li a {
    height: 50px;
    width: 100%;
    line-height: 30px;
    display: block;
    font-weight: 400;
    font-size: 0.9rem;
    color: #222;
  }

  .menu-nav.mobile-menu li a:hover {
    background-color: rgba(66, 220, 163, .3);
    color: #555;
  }

  .header {
    height: 400px;
  }

  #header-title {
    font-size: 30px;
  }

  #header-subtitle {
    font-size: 16px;
  }

  .round-image {
    width: 150px;
  }

  .header-img {
    height: 400px;
  }

  .padding-y {
    padding-top: 90px;
    padding-bottom: 90px;
  }

  .widget-header {
    font-size: 22px;
  }

  .about-text {
    width: 100%;
    padding: 0 20px;
    text-align: justify;
  }

  .projects-container {
    max-width: 700px;
  }

  .projects-title {
    font-size: 1.7rem;
  }

  .proj-modal-img {
    height: 220px;
  }

  .proj-img-wrap img {
    width: 325px;
  }

  .proj-desc {
    margin: 15px 0;
  }

  .proj-desc > * {
    width: 100%;
  }

  .proj-skills {
    position: relative;
    top: auto;
    transform: translateY(0);
  }

  #wrapper-cont-form {
    width: 400px;
  }

  .modal-body img {
    opacity: .6;
  }

  .modal-body .middle {
    opacity: 1;
  }

  .middle {
    opacity: 1;
  }

}

@media only screen and (max-width: 480px) {
  html {
    font-size: 14px;
  }

  .menu-height {
    height: 60px;
    line-height: 60px;
  }

  .round-image {
    width: 120px;
  }

  .scroll-trigger {
    width: 2.5rem;
    height: 2.5rem;
  }

  .scroll-trigger .fa-angle-double-down {
    font-size: 1.5rem;
  }

  .proj-img-wrap img {
    width: 250px;
    height: 187px;
  }

  #wrapper-cont-form {
    width: 340px;
  }

  #cont-form {
    width: 300px;
  }

  .form-field {
    width: 320px;
  }

  #message {
    max-width: 320px;
    height: 180px;
    max-height: 180px;
  }

}
